@import "../../scss/reset", "../../scss/variables", "../../scss/mixins";

.card {
  background-color: $navbarBgColor;
  color: $bgColor;
  width: fit-content;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  filter: grayscale(0);
  &:hover {
    filter: grayscale(100);
  }
  &:hover .desc {
    transform: translateY(0%);
  }
  .title {
    font-size: 2.5rem;
    padding: 0.5rem;
  }
  img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    padding: 0.5rem;
  }
  .desc {
    padding: 0.5rem;
    font-family: "Hubballi", cursive;
    text-align: justify;
    color: white;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.5s;
    // z-index: 1;
  }
}

@include media-xsm {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
}
// bir ekran boyutu ile ilgili ayarları yaptıktan sonra tekrar normal ayarlari yazmamiz gerekiyor aksi takdirde ilk yazılan ekran ayarlarini hepsinde uygular.
@include media-sm {
  .navbar {
    flex-direction: row;
  }
}
